/* ===========================
   NAVBAR
=========================== */

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#ffffff;
    border-bottom:1px solid #e5e5e5;
    z-index:1000;
}

nav{

    max-width:1300px;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 40px;
}

.logo{

    font-size:30px;

    font-weight:bold;
}

nav ul{

    display:flex;

    gap:35px;
}

nav ul li{

    transition:.3s;
}

nav ul li:hover{

    color:#0071e3;
}

.icons{

    display:flex;

    gap:20px;

    font-size:22px;
}

footer li{

    margin-bottom:10px;

    color:#cccccc;
}