@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Inter',sans-serif;
    background:#ffffff;
    color:#1d1d1f;
}

img{
    width:100%;
    display:block;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

button{
    cursor:pointer;
    border:none;
}

footer p{

    color:#cccccc;

    line-height:1.8;
}

:root{
    --primary:#0071e3;
    --background:#ffffff;
    --secondary:#f5f5f7;
    --text:#1d1d1f;
    --gray:#6e6e73;
    --border:#d2d2d7;
    --shadow:0 15px 40px rgba(0,0,0,.08);
    --radius:22px;
}

body{
    font-family:'Inter',sans-serif;
    background:linear-gradient(to bottom,#ffffff,#fafafa);
    color:var(--text);
    overflow-x:hidden;
}

header{

    position:fixed;

    width:100%;

    top:0;

    left:0;

    z-index:1000;

    background:rgba(255,255,255,.75);

    backdrop-filter:blur(18px);

    border-bottom:1px solid rgba(255,255,255,.5);

    transition:.4s;
}

nav{

    max-width:1300px;

    height:72px;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 40px;
}

nav ul li{

    position:relative;

    font-weight:500;

    transition:.3s;
}

nav ul li::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-6px;

    width:0;

    height:2px;

    background:var(--primary);

    transition:.3s;
}

nav ul li:hover{

    color:var(--primary);
}

nav ul li:hover::after{

    width:100%;
}

.hero{

    min-height:100vh;

    max-width:1300px;

    margin:auto;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:90px 40px 0;
}

.hero-text h1{

    font-size:78px;

    font-weight:900;

    line-height:1.05;

    margin-bottom:20px;
}

.hero-text p{

    font-size:26px;

    color:var(--gray);

    margin-bottom:35px;

    line-height:1.5;
}

.hero-text button{

    padding:15px 34px;

    border-radius:50px;

    font-size:18px;

    font-weight:600;

    transition:.35s;
}

.hero-text button:first-child{

    background:var(--primary);

    color:white;
}

.buy-btn{

    background:white;

    border:2px solid var(--primary);

    color:var(--primary);

    margin-top: 5px;
}

.hero-text button:hover{

    transform:translateY(-4px);

    box-shadow:0 15px 25px rgba(0,113,227,.25);
}

.hero-image{

    animation:floating 5s ease-in-out infinite;
}

@keyframes floating{

    0%{

        transform:translateY(0);
    }

    50%{

        transform:translateY(-18px);
    }

    100%{

        transform:translateY(0);
    }

}

.hero-image img{

    transition:.5s;
}

.hero-image:hover img{

    transform:scale(1.05);
}

.card{

    background:white;

    border-radius:var(--radius);

    padding:30px;

    text-align:center;

    box-shadow:var(--shadow);

    transition:.4s;

    overflow:hidden;
}

.card:hover{

    transform:translateY(-15px);

    box-shadow:0 30px 50px rgba(0,0,0,.15);
}

.card img{

    transition:.45s;
}

.card:hover img{

    transform:scale(1.08);
}

.products h2,
.accessories h2,
.why h2{

    font-size:52px;

    font-weight:800;

    margin-bottom:60px;
}

.features div{

    background:white;

    border-radius:var(--radius);

    padding:45px 30px;

    box-shadow:var(--shadow);

    transition:.4s;
}

.features div:hover{

    transform:translateY(-10px);

    box-shadow:0 25px 45px rgba(0,0,0,.12);
}

.card button{

    background:var(--primary);

    color:white;

    padding:12px 28px;

    border-radius:40px;

    transition:.35s;
}

.card button:hover{

    transform:scale(1.08);
}

footer{

    background:#111;

    color:white;

    padding:80px;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:50px;
}

footer li{

    margin:12px 0;

    color:#aaa;

    cursor:pointer;

    transition:.3s;
}

footer li:hover{

    color:white;
}

.fade-up{

    opacity:0;

    transform:translateY(40px);

    transition:1s;
}

.fade-up.show{

    opacity:1;

    transform:translateY(0);
}

::-webkit-scrollbar{

    width:10px;
}

::-webkit-scrollbar-thumb{

    background:#999;

    border-radius:10px;
}

::-webkit-scrollbar-thumb:hover{

    background:#666;
}

.loader{

    position:fixed;

    inset:0;

    background:white;

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:99999;

    transition:.6s;
}

.apple-logo{

    font-size:90px;

    animation:zoom 1s infinite alternate;
}

.loader.hide{

    opacity:0;

    visibility:hidden;
}

@keyframes zoom{

    from{

        transform:scale(.8);
    }

    to{

        transform:scale(1);
    }

}

.progress-bar{

    position:fixed;

    left:0;

    top:0;

    width:0;

    height:4px;

    background:#0071e3;

    z-index:999999;
}

.top-btn{

    position:fixed;

    right:30px;

    bottom:30px;

    width:55px;

    height:55px;

    border-radius:50%;

    background:#0071e3;

    color:white;

    font-size:22px;

    display:none;

    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.top-btn:hover{

    transform:translateY(-4px);
}

.menu{

    display:none;

    font-size:28px;

    cursor:pointer;
}

nav ul.active{

    display:flex;
}

.badge{

display:inline-block;

background:#0071e3;

color:white;

padding:6px 15px;

border-radius:20px;

font-size:13px;

margin-bottom:20px;
}

.buttons{

display:flex;

justify-content:center;

gap:10px;

margin-top:20px;
}

.wish-btn{

width:45px;

height:45px;

border-radius:50%;

background:#f5f5f7;

font-size:18px;
}

.wish-btn:hover{

background:pink;
}

.cart-btn{

flex:1;
}

.toast{

position:fixed;

right:30px;

top:100px;

background:#111;

color:white;

padding:18px 28px;

border-radius:10px;

opacity:0;

transition:.4s;
}

.toast.show{

opacity:1;
}

.card{

overflow:hidden;
}

.card img{

transition:.5s;
}

.card:hover img{

transform:scale(1.08);
}

/* ===========================
   PRODUCTS
=========================== */

.products{

    max-width:1300px;

    margin:auto;

    padding:80px 40px;
}

.products h2{

    font-size:45px;

    margin-bottom:40px;

    text-align:center;
}

.product-container{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:30px;
}

.card{

    background:#f5f5f7;

    border-radius:20px;

    padding:25px;

    text-align:center;

    transition:.35s;
}

.card img{

    height:250px;

    object-fit:contain;
}

.card h3{

    margin:20px 0 10px;
}

.card p{

    color:#666;

    margin-bottom:20px;
}

.card button{

    background:#0071e3;

    color:white;

    padding:12px 25px;

    border-radius:30px;
}

.card:hover{

    transform:translateY(-12px);

    box-shadow:0 20px 40px rgba(0,0,0,.12);
}

/* ===========================
   ACCESSORIES
=========================== */

.accessories{

    padding:90px 40px;

    max-width:1300px;

    margin:auto;
}


.accessories h2{

    text-align:center;

    font-size:45px;

    margin-bottom:50px;
}

/* ===========================
   FOOTER
=========================== */

footer{

    background:#1d1d1f;

    color:white;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:50px;

    padding:70px 80px;
}